<h2>Login usuarios</h2>
<hr>
<form action="">
    <div id="mensajes"></div>
    <input type="email" id="email" name="email" placeholder="ingrese correo electrónico">
    <input type="password" id="password" name="password" placeholder="ingrese contraseña">
    <input type="submit" id="btnSubmit" value="Ingresar">
</form>

{{>menu}}

<script src="/js/login.js"></script>