<h2>Registro usuarios</h2>
<hr>
{{>menu}}

<form action="">
    <div id="mensajes"></div>
    <input type="text" id="nombre" name="nombre" placeholder="ingrese nombre">
    <input type="text" id="apellido" name="apellido" placeholder="ingrese apellido">
    <input type="email" id="email" name="email" placeholder="ingrese correo electrónico">
    <input type="text" id="edad" name="edad" placeholder="ingrese edad">
    <input type="password" id="password" name="password" placeholder="ingrese contraseña">
    <input type="submit" id="btnSubmit" value="Registrar">
</form>

{{!-- Ya estas registrado? --}}

<p>Ya estas registrado? <a href="/login">Inicia sesión</a></p>


<script src="/js/registro.js"></script>