<h2>Registro usuarios</h2>
<hr>
<form action="">
    <div id="mensajes"></div>
    <input type="text" id="nombre" name="nombre" placeholder="ingrese nombre">
    <input type="email" id="email" name="email" placeholder="ingrese correo electrónico">
    <input type="password" id="password" name="password" placeholder="ingrese contraseña">
    <input type="submit" id="btnSubmit" value="Registrar">
</form>

{{>menu}}

<script src="/js/registro.js"></script>