<ul>
    <li>
        <a href="/">Productos</a>
    </li>
    
    <li>
        <a href="/carts">Carritos</a>
    </li>

    

    {{#if isLogin}}
        <li>
            <a href="/perfil?web=1">Perfil</a>
        </li>
        <li>
            <a href="/api/sessions/logout?web=1">Logout</a>
        </li>
    {{else}}
        <li>
            <a href="/registro">Registro</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
    {{/if}}


</ul>